@use "sass:meta";

@function ldo($argument-1, $argument-2: null, $alpha: null) {
  @if meta.type-of($argument-1) == "map" {
    $light: map-get($argument-1, light);
    $dark: map-get($argument-1, dark);

    $light-l: map-get($light, l);

    @if map-has-key($light, c) {
      $light-c: map-get($light, c);
    } @else {
      $light-c: var(--chroma);
    }

    @if map-has-key($light, h) {
      $light-h: map-get($light, h);
    } @else {
      $light-h: var(--hue);
    }

    @if $alpha != null {
      $light-a: $alpha;
    } @else if map-has-key($light, a) {
      $light-a: map-get($light, a);
    } @else {
      $light-a: 1;
    }

    $dark-l: map-get($dark, l);

    @if map-has-key($dark, c) {
      $dark-c: map-get($dark, c);
    } @else {
      $dark-c: var(--chroma);
    }

    @if map-has-key($dark, h) {
      $dark-h: map-get($dark, h);
    } @else {
      $dark-h: var(--hue);
    }

    @if $alpha != null {
      $dark-a: $alpha;
    } @else if map-has-key($dark, a) {
      $dark-a: map-get($dark, a);
    } @else {
      $dark-a: 1;
    }

    $light-color: oklch($light-l $light-c $light-h / $light-a);
    $dark-color: oklch($dark-l $dark-c $dark-h / $dark-a);

    @return light-dark($light-color, $dark-color);
  } @else if $argument-2 != null {
    $resolved-alpha: null;

    @if $alpha != null {
      $resolved-alpha: $alpha;
    } @else {
      $resolved-alpha: 1;
    }

    $light-color: oklch($argument-1 var(--chroma) var(--hue) / $resolved-alpha);
    $dark-color: oklch($argument-2 var(--chroma) var(--hue) / $resolved-alpha);

    @return light-dark($light-color, $dark-color);
  } @else {
    @error "Invalid arguments for light-dark-oklch";
  }
}
@mixin outline-animation {
  outline: solid var(--color__focus-outline);
  animation: var(--outline-animation);
  outline-offset: 2px;
}

:root {
  // Variables follow CEM naming: Category__Element--Modifier
  // BEM-inspired convention for C̀-style

  --hue: 36;
  --hue__suggested: 36;
  --hue__danger: 30;
  --chroma: 0.018;

  --color__background: #{ldo(96%, 20%)};
  --color__text: #{ldo(28%, 90%)};
  --color__text-link: light-dark(
    oklch(28% 0.15 var(--hue)),
    oklch(90% 0.15 var(--hue))
  );
  --color__text-disabled: #{ldo(28%, 90%, 0.5)};
  --color__text-placeholder: #{ldo(28%, 90%, 0.5)};

  --color__focus-outline: #{ldo(60%, 75%)};

  --color__control-surface: #{ldo(90%, 24%)};
  --color__control-surface-emphasis: #{ldo(86%, 26%)};
  --color__control--hover: #{ldo(80%, 32%)};
  --color__control--active: #{ldo(74%, 36%)};
  --color__control--disabled: #{ldo(90%, 30%)};

  --color__scrollbar-surface: #{ldo(80%, 28%)};
  --color__scrollbar-surface--hover: #{ldo(64%, 34%)};
  --color__scrollbar-surface--active: #{ldo(60%, 36%)};

  --color__selection-background: #{ldo(25%, 85%)};
  --color__selection-text: #{ldo(100%, 16%)};

  --color__border-divider: #{ldo(54%, 68%)};
  --color__border-divider--opaque: #{ldo(64%, 34%, 0.5)};

  --color__surface: #{ldo(95%, 15%)};
  --color__surface--emphasis: #{ldo(88%, 26%)};

  // ---

  --font-body:
    Lexend, "Work Sans", Roboto, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-mono: "Roboto Mono", monospace;
  --outline-animation: outline 0.5s cubic-bezier(0.2, 0, 0, 1) 1 forwards;

  --z__backdrop: 500;
  --z__dropdown: 1000;
  --z__overlay: 2000;
  --z__modal: 3000;
  --z__tooltip: 4000;
  --z__popup: 5000;
  --z__highest: 99999;

  --base__spacing: 0.2rem;
  --spacing--A: calc(var(--base__spacing) * 1.2);
  --spacing--B: calc(var(--base__spacing) * 1.6);
  --spacing--C: calc(var(--base__spacing) * 3.2);
  --spacing--D: calc(var(--base__spacing) * 3.8);
  --spacing--E: calc(var(--base__spacing) * 14);

  --spacing--full: 999999px;

  --seconds-S: 1s;
  --seconds-M: 1.2s;
  --seconds-L: 2.6s;

  --min-dimension: 2.44rem;
  --min-icon-dimension: 1.66rem;

  --width-small: 312px;
  --width-ample: 448px;
  --width-medium: 640px;

  --shadow-subtle: 0 0 20px hsl(0, 0%, 0%, 0.07);
  --cb-smooth: cubic-bezier(0.5, 0.5, 0, 1);

  // ---

  --base-blur: 0.2rem;
  --blur-A: var(--base-blur);
  --blur-B: calc(var(--base-blur) * 2);
  --blur-C: calc(var(--base-blur) * 4);

  // ---

  --base__rounding: calc(var(--min-dimension) * 0.4);
  --rounding--A: var(--base__rounding);
  --rounding--B: calc(var(--base__rounding) * 1.4);
  --rounding--C: calc(var(--base__rounding) * 2);
}

:root[data-config-disable-blur] {
  --base-blur: 0;
}

:root {
  user-select: none;
  color-scheme: light dark;
  font-family: var(--font-body);
  font-size: 1.125rem;
  color: var(--color__text);
  interpolate-size: allow-keywords;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1.5;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}

@media only screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

::-webkit-scrollbar-thumb {
  background-color: var(--color__scrollbar-surface);
  border-radius: var(--rounding--A);
  cursor: grab;
}

@media (hover: hover) {
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color__scrollbar-surface--hover);
  }
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--color__scrollbar-surface--active);
  cursor: grabbing;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

:root,
html,
body {
  margin: 0;
  height: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  text-align: left;
}

body {
  background-color: var(--color__background);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
}

::selection {
  background-color: var(--color__selection-background);
  color: var(--color__selection-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: 0.8rem;
  user-select: text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.833rem;
}

.very-small {
  font-size: 0.64rem;
}

:root:has(body#output-container) {
  --ptop: calc(var(--spacing--C) + var(--spacing--C) - var(--spacing--A));
  /* A value to account for Perchance's UI's toolbar */
}

:is(button, .button, select, option, input, a):focus-visible {
  @include outline-animation();
}

button:not([disabled]),
.button:not([disabled]),
input:not([disabled]),
optgroup:not([disabled]),
select:not([disabled]),
textarea:not([disabled]) {
  color: inherit;
}

label {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  padding: var(--spacing--C);
}

input,
textarea,
select {
  background-color: var(--color__control-surface);
  border-radius: 0;
  outline: none;
}

textarea {
  resize: vertical;
}

button,
a {
  cursor: pointer;
}

a {
  color: var(--color__text-link);
  border-radius: var(--rounding--A);
  text-decoration: underline;
}

button:disabled,
input:disabled,
select:disabled,
.button:disabled {
  cursor: default;
  color: var(--color__text-disabled);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 0.6rem;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  margin: 1rem 0;
  padding: 0.8rem;
  border-left: 4px solid #ccc;
  font-style: italic;
}

code {
  font-family: "Roboto Mono", monospace;
  font-size: 0.875rem;
  background-color: var(--color__surface--emphasis);
  padding: 0.2rem 0.4rem;
  border-radius: var(--rounding--A);
}

hr {
  width: 100%;
  border: 0;
  border-top: 2px solid var(--color__border-divider);
}

fieldset {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem 0;
}

legend {
  font-weight: bold;
}

c-accordian {
  display: flex;
  flex-direction: column;
}

c-accordian .head {
  min-height: 54px;
}

.backdrop {
  opacity: 0;
  visibility: hidden;
  z-index: var(--z__backdrop);
  background-color: hsl(0 0% 0% / 70%);
  backdrop-filter: var(--blur-B);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition-property: option, visibility;
  transition-duration: 280ms;
  transition-timing-function: cubic-bezier(0.4, 0.8, 0.5, 1);
}

.backdrop--show {
  opacity: 1;
  visibility: visible;
}

.fade-close {
  animation: fade-close var(--seconds-S) var(--cb-smooth) forwards;
}

.fade-open {
  animation: fade-open var(--seconds-S) var(--cb-smooth) forwards;
}

span[class^="i-"] {
  font-weight: normal;
  font-style: normal;
  font-size: var(--min-icon-dimension);
  line-height: 1.5;
  letter-spacing: normal;
  text-transform: none;
  display: inline-flex;
  width: var(--min-icon-dimension);
  height: var(--min-icon-dimension);
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-reduced-motion: no-preference) {
  dialog {
    position: fixed !important;
    opacity: 0;
    animation: fade-out 0.2s forwards;
    transition-behavior: allow-discrete;

    &[open] {
      animation: fade-in 0.2s forwards;

      @starting-style {
        opacity: 0;
      }
    }
  }
}

:root:not(.dev-mode) #perchance-error-indicator {
  display: none !important;
}

.perchance-error-background {
  opacity: 0.8 !important;
}

.perchance-error-content-wrapper {
  font-family: var(--font-body) !important;
  color: var(--color__text) !important;
  background-color: var(--color__surface) !important;
  border-radius: var(--rounding--B) !important;
  overflow: hidden !important;
}

.perchance-error-content-wrapper p {
  background-color: var(--color__surface--emphasis) !important;
  color: var(--color__text) !important;
}

.perchance-error-content-wrapper button {
  color: black !important;
}

.perchance-error-content-wrapper button::before {
  content: "";
  position: absolute;
  inset: 0;
}

.perchance-error-modal-footer {
  padding: var(--spacing--C) !important;
}

.perchance-error-content-wrapper button:focus-visible {
  @include outline-animation();
}
.perchance-error-stream {
  user-select: auto !important;
}

.perchance-chat-container {
  display: flex;
  height: 480px;
  width: 440px;
}

.perchance-chat-container > * {
  width: 100% !important;
  height: 100% !important;
  flex: 1;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes outline {
    0% {
      outline-width: 0;
    }

    50% {
      outline-width: 8px;
    }

    100% {
      outline-width: 3px;
    }
  }
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-close {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fade-open {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes scale-fade-close {
  from {
    opacity: 1;
    visibility: visible;
    scale: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
    scale: 0.995;
  }
}
@keyframes scale-fade-open {
  from {
    opacity: 0;
    visibility: hidden;
    scale: 0.975;
  }

  to {
    opacity: 1;
    visibility: visible;
    scale: 1;
  }
}

@media not (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after,
  *::placeholder {
    transition-property:
      background, color, outline, opacity, scale, transform, filter,
      backdrop-filter, padding, gap, margin, border-radius, width, height,
      box-shadow, border, left, right, top, bottom, font-size, font-weight,
      letter-spacing, word-spacing, line-height, min-width, max-width,
      min-height, max-height, z-index, visibility, display, background-color,
      background-image, background-size, background-position, background-repeat,
      border-color, border-width, border-style, border-top, border-right,
      border-bottom, border-left, border-top-left-radius,
      border-top-right-radius, border-bottom-right-radius,
      border-bottom-left-radius, outline-color, outline-width, outline-style,
      text-shadow, text-decoration, text-decoration-color,
      text-decoration-style, text-decoration-thickness, text-underline-offset,
      text-transform, font-family, font-style, font-variant, font-stretch,
      font-feature-settings, font-variation-settings, filter, backdrop-filter,
      box-shadow, opacity !important;
    transition-duration: 0.2s !important;
    transition-timing-function: var(--cb-smooth) !important;
  }
}

button,
.button,
input,
select,
textarea {
  min-width: var(--min-dimension, 44px);
  min-height: var(--min-dimension, 44px);
}

::placeholder {
  color: var(--color__text-placeholder);
}

textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-align: inherit;
  border-radius: var(--rounding--B);
  margin: 0;
  padding: var(--spacing--C);
  resize: vertical;
  outline: none !important;
}

input,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-align: inherit;
  border-radius: var(--rounding--A);
  margin: 0;

  @media (hover: hover) {
    &:not(:disabled):hover {
      background-color: var(--color__control--hover);
    }
  }
}

/* Button */

button,
.button {
  --color__suggested-action: #{ldo(82%, 32%)};
  --color__hover: #{ldo(76%, 36%)};
  --color__active: #{ldo(70%, 40%)};
  --color__destructive-action--text: light-dark(
    oklch(55% 0.18 30),
    oklch(70% 0.18 30)
  );
  --color__destructive-action--outline: light-dark(
    oklch(65% 0.1 30),
    oklch(45% 0.1 30)
  );
  --color__destructive-action--hover: light-dark(
    oklch(80% 0.06 30),
    oklch(36% 0.03 30)
  );
  --color__destructive-action--active: light-dark(
    oklch(75% 0.08 30),
    oklch(40% 0.06 30)
  );
  color: var(--button-text, inherit);
  display: inline-flex;
  min-width: var(--min-dimension, 44px);
  min-height: var(--min-dimension, 44px);
  border-radius: var(--rounding--A);
  justify-content: center;
  position: relative;
  align-items: center;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  gap: 8px;
  outline: none;
  text-decoration: none;

  &.button--icon {
    padding: 0;
    min-width: var(--min-dimension, 44px);
    min-height: var(--min-dimension, 44px);
    width: var(--min-dimension, 44px);
    height: var(--min-dimension, 44px);
    max-width: var(--min-dimension, 44px);
    max-height: var(--min-dimension, 44px);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    /* This is to ensure buttons are clickable at the edges even
    if their corners are clipped due to the root border-radius */
  }

  &,
  &:disabled {
    background-color: transparent;
  }

  &.button--suggested-action {
    background-color: var(--color__suggested-action);
  }

  &.button--destructive-action {
    color: var(--color__destructive-action--text);
    --color__focus-outline: var(--color__destructive-action--outline);
    --color__hover: var(--color__destructive-action--hover);
    --color__active: var(--color__destructive-action--active);
  }

  @media (hover: hover) {
    &:not(:disabled):hover {
      background-color: var(--color__hover);
    }
  }

  &:active:not(:disabled) {
    background-color: var(--color__active);
  }
}

input {
  caret-color: var(--color__text);
  outline-color: var(--primary);
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input:not([type]) {
  outline: none;
  border-radius: var(--rounding--A);
  border: 0 solid transparent;
  animation: none;
}

input[type="range"] {
  width: 100%;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  min-height: auto;
}

select {
  background-color: var(--color__control-surface);
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

select,
::picker(select) {
  appearance: base-select;
  border: none;
  outline: none;
}

::picker(select) {
  margin-block: var(--spacing--B);
  background-color: var(--color__control-surface-emphasis);
  border-radius: var(--rounding--A);
  padding: var(--spacing--B);
  cursor: default;
  scrollbar-color: var(--color__scrollbar-surface);
  scrollbar-width: none;
}

select option {
  border: none;
  padding: var(--spacing--B);
  border-radius: var(--spacing--B);
  /* background-color: var(--color__surface); */
  cursor: pointer;
  min-width: var(--min-dimension, 44px);
  min-height: var(--min-dimension, 44px);
}

select option::checkmark {
  display: none;
}

select option:not(:last-child) {
  margin-bottom: var(--spacing--B);
}

select::picker-icon {
  color: var(--color__text);
}

select:open::picker-icon {
  rotate: 180deg;
}

select option:hover:not(:disabled) {
  background-color: transparent;
  /* This is to prevent browsers from applying
  a hover effect in the shadow DOM internals  */
}

@media (hover: hover) {
  select:hover:not(:disabled) {
    background-color: var(--color__control--hover);
  }
  select option:hover:not(:disabled) {
    background-color: var(--color__control--hover);
  }
}

input::placeholder {
  color: var(--color__text-placeholder);
}

select option:active:not(:disabled) {
  background-color: var(--color__control--active);
}

select option:checked:not(:disabled) {
  background-color: var(--color__control--active);
}

select:disabled {
  background-color: var(--color__control--disabled);
  color: var(--color__text-disabled);
}

input:disabled {
  background-color: var(--color__control--disabled);
  color: var(--color__text-disabled);
}
input:disabled::placeholder,
select:disabled::picker-icon {
  color: var(--color__text-disabled);
}

// C̀ components

.c-surface {
  background-color: var(--color__surface);
}
.c-surface--emphasis {
  background-color: var(--color__surface--emphasis);
}
