button,
.button,
input,
select,
textarea,
a {
  min-width: var(--min-dimension, 44px);
  min-height: var(--min-dimension, 44px);
}

input,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-align: inherit;
  border-radius: var(--space-B);
  margin: 0;
}

/* Button */

button,
.button {
  color: var(--button-text, inherit);
  display: inline-flex;
  min-width: var(--min-dimension, 44px);
  min-height: var(--min-dimension, 44px);
  border-radius: var(--space-B);
  justify-content: center;
  position: relative;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.34s ease-in-out;
  padding: 0.4rem 0.8rem;
  gap: 8px;
  outline: none;
  text-decoration: none;
}

button::before,
.button::before {
  content: "";
  position: absolute;
  inset: 0;
}

button:focus-visible,
.button:focus-visible,
select:focus-visible,
select option:focus-visible,
input:focus-visible {
  outline: solid var(--outline);
  animation: var(--outline-animation);
}

.button--icon {
  height: var(--min-dimension, 44px);
  width: var(--min-dimension, 44px);
  max-height: var(--min-dimension, 44px);
  max-width: var(--min-dimension, 44px);
  padding: 6px;
}

.button--secondary::after {
  content: "";
  inset: 0;
  position: absolute;
  border: 1px solid var(--primary);
  box-sizing: border-box;
  border-radius: inherit;
}

.button--primary:not(:disabled) {
  background: var(--primary);
  color: var(--primary-text, inherit);
  outline-offset: 3px;
}

.button--secondary:not(:disabled) {
  outline-offset: 3px;
}

@media (hover: hover) {
  button:hover:not(:disabled),
  .button:hover:not(:disabled),
  .button--hover:not(:disabled) {
    background: var(--hover);
  }

  .button--primary:hover:not(:disabled) {
    background: var(--primary-hover);
  }
}

button:active:not(:disabled),
.button:active:not(:disabled) {
  background: var(--active);
}

.button--active:not(:disabled) {
  background: var(--active);
}

.button--primary:active:not(:disabled) {
  background: var(--primary-active);
}

.button--secondary:disabled::after {
  border-color: var(--primary-disabled);
}

.button--rounded-S {
  border-radius: var(--space-S);
}

.button--rounded-M {
  border-radius: var(--space-M);
}

.button--icon {
  padding: 0;
  min-width: var(--min-dimension, 44px);
  min-height: var(--min-dimension, 44px);
  max-width: var(--min-dimension, 44px);
  max-height: var(--min-dimension, 44px);
}

button,
.button:disabled {
  background: transparent;
  box-shadow: none;
  color: var(--text-disabled, inherit);
}

.button--primary:disabled {
  background: var(--primary-disabled);
}

input,
input[type="range"] {
  caret-color: var(--primary);
  outline-color: var(--primary);
  background-color: var(--field-surface);
  border-radius: var(--space-full);
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input:not([type]) {
  outline: none;
  border-radius: var(--space-SX);
  border: 0 solid transparent;
  border-bottom-width: 3px;
  animation: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  border: none;
}

input[type="range"]:active::-webkit-slider-thumb,
input[type="range"]:active {
  cursor: grabbing;
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active {
  cursor: grabbing;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: calc(var(--min-dimension, 44px) - var(--space-B));
  height: calc(var(--min-dimension, 44px) - var(--space-B));
  border: none;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: calc(var(--min-dimension, 44px) - var(--space-B));
  height: calc(var(--min-dimension, 44px) - var(--space-B));
  border: none;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
}

select {
  background-color: var(--field-surface);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

select,
::picker(select) {
  appearance: base-select;
  border: none;
  outline: none;
}

::picker(select) {
  margin-block: var(--space-S);
  background-color: var(--field-surface);
  border-radius: var(--space-B);
  padding: var(--space-S);
  cursor: default;
  box-shadow: 0 0 8px var(--field-surface-shadow);
  scrollbar-color: var(--primary);
  scrollbar-width: none;
}

::picker(select)::backdrop {
  background-color: hsl(0, 0%, 0%, 0.2);
  backdrop-filter: blur(5px);
}

select option {
  border: none;
  padding: var(--space-S);
  border-radius: var(--space-S);
  /* background-color: var(--surface); */
  cursor: pointer;
  min-width: var(--min-dimension, 44px);
  min-height: var(--min-dimension, 44px);
}

select option::checkmark {
  display: none;
}

select option:not(:last-child) {
  margin-bottom: var(--space-S);
}

select::picker-icon {
  color: var(--text);
  transition: rotate 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

select:open::picker-icon {
  rotate: 180deg;
}

select option:hover:not(:disabled) {
  background-color: transparent;
  /* This is to prevent browsers from applying
  a hover effect in the shadow DOM internals  */
}

@media (hover: hover) {
  input:hover:not(:disabled),
  select:hover:not(:disabled) {
    background-color: var(--field-surface-hover);
  }
  select option:hover:not(:disabled) {
    background-color: var(--hover);
  }
}

input::placeholder {
  color: var(--placeholder);
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input:not([type]):focus {
  border-bottom-color: var(--primary);
  border-bottom-width: 3px;
}

select:active:not(:disabled) {
  background-color: var(--field-surface-active);
}

select option:active:not(:disabled) {
  background-color: var(--active);
}

select option:checked:not(:disabled) {
  background-color: var(--active);
}

select:disabled {
  background-color: var(--field-surface-disabled);
  color: var(--text-disabled);
}

input:disabled {
  background-color: var(--field-surface-disabled);
  color: var(--text-disabled);
}
input:disabled::placeholder,
select:disabled::picker-icon {
  color: var(--text-disabled);
}
