/* paramount.css */

@media (pointer: coarse) {
  * {
    cursor: none !important;
    /* 
      While developing, I noticed that mobile devices adds a blue overlay when
      clicking on any element with the cursor set to pointer.
      It was only DURING development, but I still considered implementing a
      global style to prevent it from happening.
      */
  }

  input[type="range"]::-webkit-slider-thumb {
    cursor: none;
  }

  input[type="range"]::-moz-range-thumb {
    cursor: none;
  }
}

*[hidden] {
  display: none !important;
  /* 
    IT IS ABSURD. This rule is self-explanatory, I had thought this will be
    handled by the browser, but no. So, I had to come up with a rule that specifically
    prevented this style from being overwritten, because just adding a new style was
    enough to overwrite it.
    */
}
