#app {
  height: 100%;
  display: flex;
}

main {
  flex: 1;
  width: 100%;

  section {
    padding: var(--spacing--C);

    h3 {
      margin: 0;
      width: 0;
    }
  }
}

main.chat-view {
  height: 100%;
  display: flex;

  > * {
    flex: 1;
  }

  > *:first-child {
    border-right: 2px solid var(--color__border-divider--opaque);
  }

  section.panel {
    padding: 0;
    max-width: 386px;
    display: flex;
    flex-direction: column;

    .chat-search {
      display: flex;
      position: relative;

      input {
        flex: 1;
        padding-left: calc(var(--spacing--C) * 4.5);
      }

      .icon {
        margin-left: var(--spacing--C);
        display: flex;
        flex: none;
        position: absolute;
        height: 100%;
      }
    }
  }

  section.chat-panel {
    padding: 0;
    display: flex;
    flex-direction: column;

    > h3 {
      padding-inline: var(--spacing--C);

      > input:not(:hover):not(:focus) {
        background: none;
      }
    }
  }

  ul.chat-tabs {
    padding: var(--spacing--B);
    margin: 0;
    flex: 1;
    overflow-y: auto;

    li {
      list-style: none;
      display: flex;
      margin-bottom: var(--spacing--B);

      a.button {
        flex: 1;
        text-align: left;
        justify-content: flex-start;
      }

      a.button.active {
        background-color: var(--color__active);
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  .chat-back-button {
    display: none;
  }
}

@media (max-width: 768px) {
  main.chat-view {
    > * {
      flex: none;
      width: 100%;
    }

    section.panel {
      max-width: 100%;
      border: none;
    }

    @media (max-width: 768px) {
      .chat-back-button {
        display: inline-flex;
      }
    }
  }
}
