#app {
  height: 100%;
}

main {
  height: 100%;
  display: flex;

  >* {
    flex: 1;
  }

  >*:first-child {
    border-right: 1px solid var(--color__border-divider--opaque);
  }
  
  section {
    padding: var(--spacing--C);
    max-width: 386px;

    .chat-search {
      display: flex;
      padding-bottom: var(--spacing--C);

      * {
        flex: 1;
      }
    }
  }

  ul.chat-tabs {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      display: flex;
      margin-bottom: var(--spacing--C);

      a.button {
        flex: 1;
        text-align: left;
        justify-content: flex-start;
      }

      a.button.active {
        background-color: var(--color__active);
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}