#app {
  height: 100%;
  display: flex;
}

main {
  flex: 1;

  section {
    padding: var(--spacing--C);

    >h3 {
      margin: 0 0 var(--spacing--C) 0;
    }
  }
}

main.chat-view {
  height: 100%;
  display: flex;

  >* {
    flex: 1;
  }

  >*:first-child {
    border-right: 1px solid var(--color__border-divider--opaque);
  }

  section.panel {
    max-width: 386px;

    .chat-search {
      display: flex;
      padding-bottom: var(--spacing--C);
      position: relative;

      input {
        flex: 1;
        padding-left: calc(var(--spacing--C) * 4.5);
      }

      .icon {
        margin-left: var(--spacing--C);
        display: flex;
        flex: none;
        position: absolute;
        height: calc(100% - var(--spacing--C));
      }
    }
  }

  ul.chat-tabs {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      display: flex;
      margin-bottom: var(--spacing--B);

      a.button {
        flex: 1;
        text-align: left;
        justify-content: flex-start;
      }

      a.button.active {
        background-color: var(--color__active);
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}