body {
  overflow: auto;

  #app {
    margin: 2rem;
  }
}

.generators {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-M);

    @media (max-width: 696px) {
      flex-direction: column;

      li {
        flex: 1;
        width: 100%;
      }

      button {
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.perchance-chat-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-block: 2rem;
  border-radius: var(--space-B);
  overflow: hidden;
}
