#app {
  height: 100%;
  display: flex;
}

.router-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .app-content {
    display: flex;
    overflow: hidden;
  }
}

main {
  width: 100%;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  --option-container-height: calc(
    var(--spacing-C) + var(--min-dimension) + var(--spacing-C)
  );
  overflow-y: auto;

  .generated-image-container {
    padding: var(--spacing-E);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-C);
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .prompt-area-wrapper {
    display: flex;
    justify-content: center;
    padding: var(--spacing-C);

    .prompt-area {
      position: relative;
      width: 100%;
      display: flex;
      border-radius: calc(67px * 0.4);
      max-width: 768px;
      width: 100%;
      height: fit-content;
      overflow: hidden;

      .prompt-container {
        overflow: hidden;
        display: flex;
        flex: 1;
        width: 100%;
      }

      label {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
      }
      
      #prompt {
        background-color: transparent;
        width: 100%;
        height: var(--option-container-height);
        max-height: calc(var(--min-dimension) * 6);
        resize: none;
        overflow-x: hidden;
        overflow-y: auto;
      }

      > .option-container {
        display: flex;
        align-items: flex-end;
        gap: var(--spacing-B);
        padding: var(--spacing-C);
      }
    }

    .prompt-area:has(#prompt:focus-visible) {
      #prompt {
        height: calc(var(--min-dimension) * 3);
      }
    }
  }
}
