body {
  overflow: auto;
}

#app {
  padding-bottom: calc(var(--base-space) * 10);
  height: 100%;
  width: 100%;
}

.dark-mode-button {
  margin: calc(var(--base-space) * 10) auto;
  display: flex;
}

.app-inset-wrapper {
  text-align: center;
  padding-inline: calc(var(--base-space) * 10);
  display: flex;
  flex-direction: column;
  gap: var(--space-M);
  justify-content: center;
  max-width: 768px;
  width: 100%;
  margin: auto;
}

.title {
  font-weight: bold;
}

.container {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-S);
  padding: calc(var(--base-space) * 5);
  border-radius: var(--space-M);
  box-shadow: 0 0 8px
    light-dark(
      hsl(var(--base-hue), var(--base-saturation), 0%, 0.4),
      hsl(var(--base-hue), var(--base-saturation), 0%, 0)
    );
  background: var(--surface);
}

input {
  width: 100%;
  padding: var(--space-S);
  border-radius: var(--space-B) !important;
  border: none !important;
}

p:has(> code) {
  padding-inline: calc(var(--base-space) * 20);

  code {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
}

ul {
  padding-inline: calc(var(--base-space) * 10);

  li {
    display: flex;
    flex-direction: column;
    gap: var(--space-S);
    padding: var(--space-S);
    background: var(--surface-emphasis);
    margin-bottom: var(--space-S);
    border-radius: var(--space-B);
    width: 100%;
    display: flex;
    flex-direction: column;

    h4 {
      margin: 0;
    }

    code {
      font-size: inherit;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      overflow: hidden;
      overflow: clip;
    }
  }
}